@import "../../../scss/styles.scss";
.el-tab-panel {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: opacity .15s linear;
    .product-card {
        background-color: $first-color;
        margin: 1rem;
        height: auto;
        width: 70%;
        @media #{$scr-lg-xl} {
            width: 22%;
        }
        @media #{$scr-sm-md} {
            width: 34%;
        }
        &-body {
            display: grid;
            justify-items: center;
            padding: 1rem;
            color: $main-color;
            .product-thumbnail {
                border: 1px solid $second-color;
                @media #{$scr-lg-xl} {
                    height: 18rem;
                }
                @media #{$scr-sm-md} {
                    height: 14rem;
                }
                img {
                    background-color: #fff;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: transform .2s ease;
                }
            }
            .product-description {
                display: grid;
                grid-template-rows: 2rem 1rem 1rem 2rem;
                justify-self: left;
                height: 100%;
                width: 100%;
                @media #{$scr-lg-xl} {
                    max-height: 7rem;
                }
                @media #{$scr-sm-md} {
                    max-height: 6rem;
                }
                h3,
                h5 {
                    margin: 0;
                }
                .title {
                    color: $main-color;
                }
                .brand,
                .color {
                    margin: -.8rem 0 0;
                    font-size: .75rem;
                }
                .star-rating {
                    line-height: 1rem;
                }
                .purchase {
                    display: flex;
                    justify-content: space-between;
                    button {
                        background-color: $second-color;
                        padding: .5rem .6rem;
                        border-radius: 2rem;
                        border: 0;
                        height: max-content;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.ion {
    font-family: "Ionicons";
    color: $main-color;
    &-ios-star::before {
        content: '\f4b3';
    }
    &-bag::before {
        content: '\f292';
    }
}