<div class="el-container" id="products-tab">
    <h2>Nos produits disponibles</h2>
    <div class="el-tab-panel" id="products-home" role="tabpanel" aria-labelledby="products-home-tab">
        <a class="product-card" *ngFor="let product of products">
            <div class="product-card-body">
                <div class="product-thumbnail">
                    <img class="first-img" [src]="urlImgRoot + product.image" alt="thumbnail">
                </div>
                <div class="product-description">
                    <h3 class="title">{{product.name}}</h3>
                    <p class="brand">{{product.brand}}</p>
                    <div class="star-rating">
                        <span class="ion ion-ios-star"></span>
                        <span class="ion ion-ios-star"></span>
                        <span class="ion ion-ios-star"></span>
                        <span class="ion ion-ios-star"></span>
                        <span class="ion ion-ios-star de-selected"></span>
                    </div>
                    <div class="purchase">
                        <h5 class="product-price">{{product.price}} €</h5>
                        <button class="product-btn" data-toggle="modal" data-target="#add-to-cart">
                            <span class="ion ion-bag"></span>
                        </button>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>